html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", "M PLUS 1", "M PLUS Code Latin", sans-serif;
  color: #121212;
  font-size: 1.6rem;
  line-height: 1.4375;
  overflow-x: hidden;
  min-width: 340px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ol {
  margin: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.l-header {
  background-color: #FFF7EF;
  height: 217px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
@media screen and (min-width: 1250px) {
  .l-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1250px) {
  .l-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.l-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.l-content-wrapper.is-open {
  position: fixed;
}

.c-background--gray {
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 3, 0.5);
}
.c-background--gray-thin {
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 3, 0.4);
}
.c-background--gray-Opacity {
  width: 100%;
  height: auto;
  background: #F5F5F5;
}

.c-button--search {
  border: 1px solid #707070;
  border-radius: 0.5em;
  background-color: #F2EDE9;
}
.c-button--circleWhite-white {
  border: 1px solid #FFF;
  border-radius: 5em;
  background-color: #FFF;
}
.c-button--cornerGray-white {
  border: 1px solid #707070;
  background-color: #FFF;
}
.c-button--cornerGray-brown {
  border: 1px solid #707070;
  background-color: #3C2B1C;
}

.c-margin--LR {
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width:680px) {
  .c-margin--LR {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1250px) {
  .c-margin--LR {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.c-text-box {
  border: 1px solid #707070;
  border-radius: 0.5em;
}

.c-transparentBox--white {
  background-color: #FFF;
  opacity: 0.8;
}
.c-transparentBox--gray {
  background-color: #000000;
  opacity: 0.29;
}

.c-underline--white {
  border-bottom: solid 4px #FFF;
}

.c-table {
  border-collapse: collapse;
}
.c-table tr, .c-table td {
  border: solid 1px #707070;
}

.c-grid {
  display: grid;
  gap: 20px;
}

.p-about {
  background-image: url("../image/mapSP.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-top: 49px;
  position: relative;
}
@media screen and (min-width:680px) {
  .p-about {
    background-image: url("../image/mapTab.webp");
  }
}
@media screen and (min-width: 1250px) {
  .p-about {
    width: 100%;
    height: 649px;
  }
}
.p-about__title {
  font-size: 3rem;
  color: #FFF;
  font-weight: bold;
}
@media screen and (min-width: 1250px) {
  .p-about__title {
    font-size: 3.6rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
.p-about__text {
  font-size: 1.4rem;
  color: #FFF;
  font-weight: bold;
  line-height: 2.3571428571;
}
@media screen and (min-width: 1250px) {
  .p-about__text {
    font-size: 1.6rem;
    line-height: 2.0625;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
  }
}
.p-about__textarea {
  position: relative;
  padding: 40px;
  height: 100%;
  z-index: 100;
}
@media screen and (min-width: 1250px) {
  .p-about__textarea {
    width: 65%;
  }
}
.p-about__layer1 {
  position: absolute;
  top: 0;
  left: 0;
}
.p-about__layer2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
}
@media screen and (min-width:680px) {
  .p-about__layer2 {
    height: 100%;
  }
}
@media screen and (min-width: 1250px) {
  .p-about__layer2 {
    width: 65%;
  }
}

@media screen and (min-width:680px) {
  .p-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
.p-content--front {
  margin-top: 20px;
}
@media screen and (min-width:680px) {
  .p-content--front {
    margin-top: 40px;
  }
  .p-content--front:nth-of-type(2) {
    margin-right: 40px;
  }
}

.p-footer {
  position: relative;
  color: #FFF;
}
.p-footer.is-open {
  position: fixed;
  top: 100%;
}
.p-footer img {
  width: 100%;
  height: 150px;
}
.p-footer__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.p-footer__text > li {
  font-size: 2rem;
  text-align: center;
}
.p-footer__text > li::after {
  white-space: pre-wrap;
  content: "   |   ";
}
.p-footer__text > li:last-child::after {
  content: "";
}
.p-footer__copy {
  font-size: 1.75rem;
  margin-top: 34px;
  text-align: center;
}
.p-footer__block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 275px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-front-section {
  max-width: 450px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width:680px) {
  .p-front-section {
    max-width: 500px;
  }
}
@media screen and (min-width: 1250px) {
  .p-front-section {
    max-width: 32.5vw;
  }
}
.p-front-section--takeout {
  background: no-repeat url("../image/takeout.webp");
  background-size: cover;
}
.p-front-section--eatIn {
  background: no-repeat url("../image/eatin.webp");
  background-size: cover;
}
.p-front-section__title {
  color: #FFF;
  font-size: 4.1rem;
  font-weight: bold;
  margin: 0 auto 10px 15px;
  padding-top: 11px;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width:680px) {
  .p-front-section__title {
    font-size: 4.4rem;
  }
}
@media screen and (min-width: 1250px) {
  .p-front-section__title {
    font-size: 8rem;
    margin: 0 auto 30px 22px;
    padding-top: 25px;
  }
}
.p-front-section__title::after {
  content: "";
  width: 34px;
  height: 4px;
  background-color: #FFF;
  position: absolute;
  top: 100%;
  left: 0%;
}
@media screen and (min-width: 1250px) {
  .p-front-section__title::after {
    width: 63px;
  }
}

.p-grayOut--full {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.p-grayOut--full.is-open {
  display: block;
}

.p-header {
  width: 100%;
}
@media screen and (min-width: 1250px) {
  .p-header {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 65px;
    padding-right: 31px;
  }
}
.p-header__logo {
  font-size: 4rem;
  font-weight: bold;
  color: #707070;
  margin-top: 40px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 1250px) {
  .p-header__logo {
    margin-top: 0;
  }
}
@media screen and (min-width: 1400px) {
  .p-header__logo {
    font-size: 6.4rem;
  }
}

.p-hamburger-menuList {
  margin-top: 30px;
  margin-bottom: 30px;
}
.p-hamburger-menuList__title {
  color: #3C2A10;
}
.p-hamburger-menuList__title h1 {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 30px;
}
@media screen and (min-width:680px) {
  .p-hamburger-menuList__title {
    margin-bottom: 37px;
  }
}
@media screen and (min-width: 1250px) {
  .p-hamburger-menuList__title {
    margin-top: 30px;
    margin-bottom: 70px;
  }
}

.p-item-card {
  margin-top: 20px;
  background-color: #3C2B1C;
  color: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.p-item-card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 70vw;
  width: 100vw;
}
@media screen and (min-width:680px) {
  .p-item-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .p-item-card img {
    height: auto;
    width: 50%;
  }
}
.p-item-card__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3vw;
  padding-right: 3vw;
}
.p-item-card__text h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 30px;
}
.p-item-card__text h2 {
  font-weight: bold;
  padding-top: 30px;
}
.p-item-card__text p {
  padding-top: 15px;
}
@media screen and (min-width:680px) {
  .p-item-card__text {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
@media screen and (min-width: 1250px) {
  .p-item-card__text {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .p-item-card__text h1 {
    font-size: 2.5vmin;
    padding-top: 53px;
  }
  .p-item-card__text h2 {
    font-size: 2vmin;
    padding-top: 47px;
  }
  .p-item-card__text p {
    padding-top: 17px;
  }
}
.p-item-card__button {
  color: #707070;
  font-weight: bold;
  height: 43px;
  width: 14vw;
  min-width: 120px;
  max-width: 292px;
  text-align: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1250px) {
  .p-item-card__button {
    height: 76px;
    width: 15vw;
  }
}

.p-main-visual {
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.p-main-visual img {
  width: 100vw;
  height: 285px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1250px) {
  .p-main-visual img {
    height: 530px;
  }
}
.p-main-visual h1 {
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 3.6rem;
  color: #FFF;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 1250px) {
  .p-main-visual h1 {
    left: 90px;
  }
}
.p-main-visual--archive img, .p-main-visual--archive-search img {
  -o-object-fit: none;
     object-fit: none;
  height: 285px;
  -o-object-position: 30% 45%;
     object-position: 30% 45%;
}
.p-main-visual--archive__layer {
  position: absolute;
  top: 0;
}
.p-main-visual--archive p, .p-main-visual--archive-search p {
  position: absolute;
  top: 65%;
  left: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFF;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.p-main-visual--archive h1, .p-main-visual--archive-search h1, .p-main-visual--archive p, .p-main-visual--archive-search p {
  z-index: 10;
}
@media screen and (min-width:680px) {
  .p-main-visual--archive img, .p-main-visual--archive-search img {
    -o-object-position: 45% 45%;
       object-position: 45% 45%;
  }
  .p-main-visual--archive h1, .p-main-visual--archive-search h1 {
    font-size: 6rem;
    left: 80px;
  }
  .p-main-visual--archive p, .p-main-visual--archive-search p {
    top: 52%;
    left: 275px;
  }
}
@media screen and (min-width:680px) {
  .p-main-visual--archive-search p {
    top: 52%;
    left: 300px;
  }
}
.p-main-visual--single h1 {
  font-size: 3.6rem;
}
.p-main-visual--single p {
  position: absolute;
  top: 50%;
  left: 80px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFF;
  font-size: 3.6rem;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width:680px) {
  .p-main-visual--single img {
    height: 500px;
  }
  .p-main-visual--single h1 {
    font-size: 6rem;
    left: 86px;
  }
  .p-main-visual--single p {
    font-size: 6rem;
    left: 190px;
  }
}
@media screen and (min-width:680px) {
  .p-main-visual__page img {
    height: 500px;
  }
  .p-main-visual__page h1 {
    font-size: 6rem;
    left: 86px;
  }
}

.p-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFDFA;
}
.p-main td {
  height: 70px;
}

.p-menu-button {
  position: absolute;
  z-index: 1000;
  top: 14px;
  right: 16px;
  font-size: 2rem;
  font-weight: bold;
  color: #707070;
  content: "";
}
@media screen and (min-width:680px) {
  .p-menu-button {
    font-size: 3.4rem;
    top: 16px;
    right: 26px;
  }
}
@media screen and (min-width: 1250px) {
  .p-menu-button {
    top: 85px;
    right: 240px;
  }
}
.p-menu-button::before, .p-menu-button::after {
  content: "";
  width: 45px;
  height: 6px;
  background: #707070;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  opacity: 0;
}
.p-menu-button::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.p-menu-button::after {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.p-menu-button.is-open {
  color: #F2EDE9;
}
.p-menu-button.is-open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}
.p-menu-button.is-open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
}

.p-page-move {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #707070;
  padding-top: 40px;
}
.p-page-move__prev {
  margin-right: auto;
}
.p-page-move__next {
  margin-left: auto;
}
.p-page-move--number {
  display: none;
}
@media screen and (min-width:680px) {
  .p-page-move {
    display: none;
  }
  .p-page-move--number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #707070;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 13px;
    padding-top: 106px;
  }
  .p-page-move--number__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 35px;
    width: 35px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .p-page-move__active {
    color: #FFF;
  }
}
@media screen and (min-width: 1250px) {
  .p-page-move--number {
    gap: 15px;
  }
}

.p-productBox {
  margin: 15px 15px 0 15px;
  color: #3C2A10;
  width: calc(100% - 30px);
}
.p-productBox:nth-of-type(1) {
  margin-top: 350px;
}
@media screen and (min-width: 1250px) {
  .p-productBox:nth-of-type(1) {
    margin-top: 650px;
  }
}
.p-productBox__title {
  font-family: "M PLUS Code Latin";
  font-size: 2.2rem;
  font-weight: bold;
  padding-top: 7px;
  padding-left: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width:680px) {
  .p-productBox__title {
    font-size: 2.4rem;
  }
}
.p-productBox__text {
  padding-right: 10px;
  padding-bottom: 15px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.4375;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width:680px) {
  .p-productBox__text {
    font-size: 1.4rem;
    line-height: 1.4285714286;
  }
}
@media screen and (min-width: 1250px) {
  .p-productBox__text {
    font-size: 1.6rem;
    line-height: 1.4375;
  }
}

.p-search-box {
  position: relative;
}
.p-search-box i {
  position: absolute;
  top: 50%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #808080;
}
.p-search-box input[type=search]::-webkit-search-cancel-button {
  position: absolute;
  right: 1rem;
}

.size {
  font-size: 2.5rem;
}

.p-search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1250px) {
  .p-search-form {
    margin: 0;
  }
}
.p-search-form__textForm {
  width: 23rem;
  height: 4.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width:680px) {
  .p-search-form__textForm {
    width: 39.6rem;
  }
}
@media screen and (min-width: 1400px) {
  .p-search-form__textForm {
    width: 39.6rem;
  }
}
.p-search-form__textBox {
  width: 23rem;
  height: 4.6rem;
  padding-left: 4.5rem;
  background-color: #FFF;
  font-weight: bold;
  color: #707070;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width:680px) {
  .p-search-form__textBox {
    width: 39.6rem;
  }
}
@media screen and (min-width: 1400px) {
  .p-search-form__textBox {
    width: 39.6rem;
  }
}
.p-search-form__button {
  width: 7.8rem;
  height: 4.6rem;
  text-align: center;
  margin-left: 12px;
  font-weight: bold;
  color: #707070;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width:680px) {
  .p-search-form__button {
    width: 13.6rem;
  }
}

.p-side-menu {
  font-size: 2.4rem;
  font-weight: bold;
  color: #707070;
  padding-bottom: 100%;
  padding-left: 46px;
}
.p-side-menu li {
  padding-top: 43px;
}
.p-side-menu__sub {
  font-size: 2rem;
  font-weight: normal;
}
.p-side-menu__sub li {
  padding-left: 20px;
  padding-top: 22px;
}
@media screen and (min-width: 1250px) {
  .p-side-menu__sub li {
    width: 400px;
  }
}

.p-side-nav {
  background-color: #F2EDE9;
  width: 328px;
  padding-top: 169px;
  position: fixed;
  left: 100%;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 100;
}
.p-side-nav.is-open {
  left: calc(100vw - 328px);
  position: absolute;
}
@media screen and (min-width:680px) {
  .p-side-nav {
    width: 367px;
  }
}
@media screen and (min-width: 1250px) {
  .p-side-nav {
    position: static;
  }
}

.p-single-page {
  padding-top: 30px;
  padding-bottom: 177px;
  color: #3C2A10;
}
.p-single-page h2, .p-single-page h3, .p-single-page h4, .p-single-page h5, .p-single-page h6 {
  padding-bottom: 30px;
}
.p-single-page h2 {
  font-size: 2.8rem;
}
.p-single-page h3 {
  font-size: 2.4rem;
}
.p-single-page h4, .p-single-page h5, .p-single-page h6 {
  font-size: 2rem;
}
@media screen and (min-width:680px) {
  .p-single-page h2 {
    font-size: 3.6rem;
  }
  .p-single-page h3 {
    font-size: 2.8rem;
  }
  .p-single-page p:nth-of-type(1) {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1250px) {
  .p-single-page {
    padding-top: 60px;
  }
  .p-single-page h2, .p-single-page h3, .p-single-page h4, .p-single-page h5, .p-single-page h6 {
    padding-bottom: 60px;
  }
}
.p-single-page__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.p-single-page__img1 {
  height: 33%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 100%;
     object-position: 0% 100%;
  margin-top: 30px;
}
@media screen and (min-width: 1250px) {
  .p-single-page__img1 {
    margin-top: 60px;
  }
}
.p-single-page__img2 {
  width: 70vw;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  padding-top: 30px;
}
@media screen and (min-width:680px) {
  .p-single-page__img2 {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1250px) {
  .p-single-page__img2 {
    width: 30vw;
    height: 22vw;
  }
}
.p-single-page ol {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 1rem;
}
.p-single-page ol li {
  list-style-type: decimal;
}
@media screen and (min-width:680px) {
  .p-single-page ol {
    margin-top: 60px;
  }
}
.p-single-page ul {
  padding-top: 30px;
  padding-bottom: 14px;
  padding-left: 1rem;
}
@media screen and (min-width:680px) {
  .p-single-page ul {
    padding-bottom: 46px;
  }
}

.p-tag-area__text {
  padding-top: 5%;
  padding-left: 15%;
  padding-bottom: 5%;
}

.p-grid-picture {
  margin-top: 10%;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
}
@media screen and (min-width:680px) {
  .p-grid-picture {
    margin-top: 30vw;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
@media screen and (min-width: 1250px) {
  .p-grid-picture {
    margin-top: 60px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.p-table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.p-table td {
  text-align: center;
  vertical-align: middle;
}
.p-table td:first-child {
  width: 35%;
}

.p-button--single {
  height: 81px;
  width: 100%;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#F2EDE9), to(#DED8D3)) 0% 0% no-repeat padding-box;
  background: transparent -webkit-linear-gradient(top, #F2EDE9 0%, #DED8D3 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #F2EDE9 0%, #DED8D3 100%) 0% 0% no-repeat padding-box;
  border-color: #707070;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 81px;
}
@media screen and (min-width:680px) {
  .p-button--single {
    width: 51vw;
  }
}
@media screen and (min-width: 1250px) {
  .p-button--single {
    width: 35%;
  }
}

.p-bold--single {
  margin-top: 30px;
  font-weight: bold;
}

.p-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  gap: 20px;
}
.p-page-content p {
  width: 55%;
}
.p-page-content img {
  width: 37vw !important;
  height: 22vw !important;
}
@media screen and (min-width:680px) {
  .p-page-content {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1250px) {
  .p-page-content {
    gap: 40px;
  }
  .p-page-content img {
    width: 30vw !important;
    height: 20vw !important;
  }
}
.p-page-content__2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.p-quote {
  padding: 30px 20px 30px 20px;
}
@media screen and (min-width:680px) {
  .p-quote {
    padding: 50px 50px 60px 50px;
  }
}
.p-quote cite {
  padding-top: 30px;
}

.p-404__visual {
  position: relative;
}
.p-404__visual img {
  height: 30vh;
  width: 100vw;
  -o-object-fit: none;
     object-fit: none;
}
.p-404__visual h1, .p-404__visual p {
  position: absolute;
  left: 10vw;
}
.p-404__visual h1 {
  top: 40%;
  font-size: 4rem;
}
.p-404__visual p {
  top: 60%;
  font-size: 2rem;
}
.p-404__text {
  color: #707070;
  font-size: min(4vw, 2rem);
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
}
@media screen and (min-width:680px) {
  .p-404__text {
    font-size: 2rem;
  }
}
.p-404__button {
  margin-top: 2vh;
  color: #3C2A10;
  height: min(10vw, 5rem);
  width: min(40vw, 15rem);
}
.p-404__button:hover {
  border: solid 1px #000;
}

.u-underline-front--about {
  border-bottom-width: 2px;
  width: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1250px) {
  .u-underline-front--about {
    margin-left: 5%;
  }
}

@media screen and (min-width:680px) {
  .u-margin--front {
    margin-left: 40px;
    margin-right: 0;
  }
}

.u-404-button {
  background-color: #9D8670;
}

/**
 *  Foundation
 * ============================ */
/**
 *  Layout
 * ============================ */
/**
 *  Object
 * ============================ */
/* Component ----------------*/
/* Project ------------------*/
/* Utility -------------------*//*# sourceMappingURL=style.css.map */