@use "../../foundation/colors" as color;
@use "../../foundation/mixin" as mq;

.p-main-visual{
    position: relative;
    text-align: center;
    transition: all 0.3s;
    &__image{
        background: no-repeat url("../image/main-visual-SP.webp");
        background-position: 50% 70%;
        background-size: cover;
        height: 285px;
        @include mq.mq(tab){
            background: no-repeat url("../image/main-visual.webp");
            background-position: center;
            background-size: cover;
        }
        @include mq.mq(pc){
            height: 530px;
        }
    }
        img{
        width: 100vw;
        height: 285px;
        object-fit: cover;
        @include mq.mq(pc){
            height: 530px;
        };

    }
    h1{
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
        font-size: 3.6rem;
        color: color.$color-text--white;
        font-weight: bold;
        transition: all 0.3s;
        @include mq.mq(pc){
            left: 90px
        };
    }

    &--archive{
        img{
        object-fit: none;
        height: 285px;
        object-position: 30% 45%;
        }

        &__layer{
            position: absolute;
            top:0;
        }
        p{
            position: absolute;
            top: 65%;
            left: 25px;
            transform: translateY(-50%);
            color: color.$color-text--white;
            font-weight: bold;
            transition: all 0.3s;
        }
        h1,p{
            z-index: 10;
        }
        @include mq.mq(tab){
            img{
                object-position: 45% 45%;;
            }
            h1{
                font-size: 6rem;
                left: 80px;
            }
            p{
                top: 52%;
                left: 275px;
            }
        };
    }

    &--archive-search{
        @extend .p-main-visual--archive;
        @include mq.mq(tab){
            p{
                top: 52%;
                left: 300px;
            }
        };
    }

    &--single{
        h1{
            font-size: 3.6rem;
        }
        p{
            position: absolute;
            top: 50%;
            left: 80px;
            transform: translateY(-50%);
            color: color.$color-text--white;
            font-size: 3.6rem;
            font-weight: bold;
            transition: all 0.3s;
        }
        @include mq.mq(tab){
            img{
                height: 500px;
            }
            h1{
                font-size: 6rem;
                left: 86px
            }
            p{
                font-size: 6rem;
                left: 190px;
            }
        };
    }

    &__page{
        @include mq.mq(tab){
            img{
                height: 500px;
            }
            h1{
                font-size: 6rem;
                left: 86px;
            }
        }
    }
}
