@use "../../foundation/colors" as color;
@use "../../foundation/mixin" as mq;

.p-menu-button {
    position: absolute;
    z-index: 1000;
    top: 14px;
    right: 16px;
    font-size: 2rem;
    font-weight: bold;
    color: color.$color-header-menuButton;
    // transition: all 0.3s;
    
    @include mq.mq(tab){
        font-size: 3.4rem;
        top: 16px;
        right: 26px;
    }
    @include mq.mq(pc){
        top: 85px;
        right: 240px;
    }
    content: "";
    &::before,
    &::after {
        content: "";
        width: 45px;
        height: 6px;
        background: color.$color-header-menuButton-open;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        opacity: 0;
    }
    &::before{
        transition: 0.2s;
    }
    &::after{
        transition: 0.2s;
    }

    &.is-open {
        color: color.$color-sidebar-background;
        &::before{
            transform: rotate(45deg);
            opacity: 1;
        }
        &::after{
            transform: rotate(-45deg);
            opacity: 1;
        }
    }
}