@use "../../foundation/mixin" as mq;

.p-page-content{
    display: flex;
    padding-top: 30px;
    gap: 20px;
    p{
        width: 55%;
    }
    img{
        width: 37vw !important;
        height: 22vw !important;
    }
    @include mq.mq(tab){
            padding-top: 60px;
    }
    @include mq.mq(pc){
        gap: 40px;
        img{
            width: 30vw !important; 
            height: 20vw !important;
        }
    }

    &__2{
        flex-direction: row-reverse;
    }

}