@use "../component/c-text-box";
// FontAwesome使用
// <i class="fa-solid fa-magnifying-glass"></i>


.p-search-box{
    position: relative;
    i{
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        color: #808080;
    }
    input[type="search"]::-webkit-search-cancel-button {   
        position: absolute;
        right: 1rem;;
     }
}

.size{
    font-size: 2.5rem;
}
