@use "../../foundation/colors" as color;
@use "../../foundation/mixin" as mq;


.p-tag-area{
    &__text{
        padding-top: 5%;
        padding-left: 15%;
        padding-bottom: 5%;
    }
}